jobs:

- job: everything
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
    # To test locally, do (for example):
    #   git clone https://github.com/randoop/toradocu-coverage.git --branch dockerfile
    #   cd toradocu-coverage
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_corpus
    displayName: fetch_and_compile_corpus
# TODO: use a different version of Randoop
  - bash: ./run_randoop_on_corpus
    displayName: run_randoop_on_corpus
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl

- job: commons_collections
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_project commons-collections
    displayName: fetch_and_compile_project
  - bash: cd toradocu/commons-collections && ./gradlew prepareForCoverage commons-collections
    displayName: prepareForCoverage
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl

- job: commons_math
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_project commons-math
    displayName: fetch_and_compile_project
  - bash: cd toradocu/commons-math && ./gradlew prepareForCoverage commons-math
    displayName: prepareForCoverage
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl

- job: freecol
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_project freecol
    displayName: fetch_and_compile_project
  - bash: cd toradocu/freecol && ./gradlew prepareForCoverage freecol
    displayName: prepareForCoverage
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl

- job: guava
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_project guava
    displayName: fetch_and_compile_project
  - bash: cd toradocu/guava && ./gradlew prepareForCoverage guava
    displayName: prepareForCoverage
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl

- job: jgrapht
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_project jgrapht
    displayName: fetch_and_compile_project
  - bash: cd toradocu/jgrapht && ./gradlew prepareForCoverage jgrapht
    displayName: prepareForCoverage
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl

- job: plume_lib
  pool:
    vmImage: 'ubuntu-16.04'
  container: mdernst/randoop-ubuntu-jdkany-coverage:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: cd extractcoverage && ./gradlew assemble
    displayName: create-directory-structure.sh
  - bash: ./fetch_and_compile_project plume-lib
    displayName: fetch_and_compile_project
  - bash: cd toradocu/plume-lib && ./gradlew prepareForCoverage plume-lib
    displayName: prepareForCoverage
  - bash: ./coverage.sh
    displayName: coverage.sh
  - bash: ./show-coverage.pl
    displayName: show-coverage.pl
